NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDPrLJJhY9CuS62vpFhapv9h8tc-tvQYdo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=swiftlinkpro-ec095.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=swiftlinkpro-ec095
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=swiftlinkpro-ec095.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=61599826268
NEXT_PUBLIC_FIREBASE_APP_ID=1:61599826268:web:0bc90a879adc947a80c199
